{% extends 'litresapp/index.html' %}

{% block title %}
    <title>Your booklist</title>
{% endblock %}

{% block login_logout %}
    <li><a href="{% url 'logout' %}">Logout</a></li>
{% endblock %}


{% block body %}
    <h4>Мои книги</h4>
    {% for book in booklist.books_list %}
        <div class="col s12 m7">
            <div class="card horizontal">
                <div class="card-image">
                    <img width="128" height="213" src="{{ book.default_cover }}" alt="{{ book.name }}">
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <h5>Название: {{ book.name }}</h5>
                        <h6>Авторы: {{ book.authors_names }}</h6>
                    </div>
                </div>
            </div>
        </div>
    {% empty %}
        <p>Empty list</p>
    {% endfor %}
    <ul class="pagination" style="text-align: center">
        {% if booklist.previous_page %}
            <li class="waves-effect"><a href="{% url 'page' booklist.previous_page %}"><i class="material-icons">chevron_left</i></a></li>
        {% else %}
            <li class="disabled"><a href=""><i class="material-icons">chevron_left</i></a></li>
        {% endif %}
        {% if booklist.next_page %}
            <li class="waves-effect"><a href="{% url 'page' booklist.next_page %}"><i class="material-icons">chevron_right</i></a></li>
        {% else %}
            <li class="disabled"><a href=""><i class="material-icons">chevron_right</i></a></li>
        {% endif %}
    </ul>
{% endblock %}
